.logo {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
}

.navs {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    color: brown;
}

.navs:hover {
    color: rgb(217, 119, 6);
}

.navs.active {
    color: white;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navs.active {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: left;
    }
}