.logo {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
}

.navs {
    font-size: 18px;
    font-weight: 800;
}

.navs:hover {
    color: brown;
}